:root {
    /* Base font size */
    font-size: 12px;   
  }

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.websiteTitle {
  margin:30px;
font-family: 'Noto Sans', sans-serif;
  font-size: 60px;
  text-align:left;
  float:left;
}


.mycart-btn {
  float:right;
  position:relative;
  right:5px;
  top:30px;
  border-radius: 10px;
  color:white;
  width: 110px;
  max-height:40px;
  display:block;
  font-size: 20px;
  font-weight:bold;
  /* text-align: center; */
  background-color:tan;
  font-family: 'Josefin Sans',sans-serif;
}

.mycart-btn:hover{
  background-color: white;
  color:tan;
}


/* was 'body' before */
body {
  font-family: 'Noto Sans JP',sans-serif,'Exo 2';
  text-align:center;
  /* background: black; */
  background: white;
  min-height: 100vh;
}


  .header-container{
      margin:auto;
      /* border:navy solid 5px; */
      height:100%;
      background-color: white;
  }

 

  .clear-lenses { 
   height:1000px;
   min-height: 1000px;
   min-width:50%;
   background-image: url("./images/eyeglasses.jpeg");
   background-repeat: no-repeat;
   background-size: cover; 
   background-position: center; 
    /* border: 10px dotted yellow; */
  }

  .header-container:after {
    content:'';
    display:block; /* or whatever else than inline */
    clear:both; 
   }
   
  .tinted-lenses { 
    height:1000px;
    min-height: 1000px;
    min-width:50%;
    background-image: url("./images/sunglasses.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
        /* border: 10px dotted rgb(172, 172, 172); */
   }



.clear-lenses button {
    position: relative;
   transform: translate(-130%, 900%);
    border: none;
    color:white;
    text-decoration:none;
    background-color: transparent;
    font-size:100px;
    font-weight: bolder;
  } 
  

  .tinted-lenses button {
    position: relative;
    transform: translate(-180%,900%);
    border: none;
    color:black;
    text-decoration:none;
    background-color: transparent;
    font-size:100px;
    font-weight: bolder;
  } 


/* glasses-collection-container */
.glasses-collection-container {
    background-color: white;
    display:flex;
    min-height:1000px 
}

/* glasses-card component*/
.glasses-card-container {
height:100%;
display:flex;
flex-wrap:wrap;
justify-content: center; 
align-items: center;  
margin: 0 auto;
}


.card-image {
/* max-height: 400px; */
max-width: 400px;
}

.glasses-card {
  max-width: 500px;
  border:whitesmoke solid 5px;
}

.glasses-card:hover{
  border:rgb(209, 204, 204) solid 5px;
  transition: ease-in-out all .1s
}


.filters-category {
  display: flex;
  flex-direction:column;
  /* border: black solid 1px; */
  align-items:baseline;
  align-self:baseline;
  width:170px;
  padding: 20px;
  font-size: 13px;
  border: rgb(190, 199, 207) 1px solid;
  box-sizing: border-box;
}


.div-navbuttons{
  margin-left:0;
padding:0;
text-align:left;
}

.sort-Buttons {
  width:150px;
  margin-top:2px;
  /* margin-bottom:2px; */
}

/* .sort-Buttons { */
  button {
  /* padding-left:15px; */
  border: rgb(241, 241, 241) 1px;
  width: 110px;
  height: 40px;
  font-size: 12px;
  /* text-align: center; */
  background-color:rgb(241, 241, 241);
  font-family: sans-serif;
  border-radius:10px;
}

.gray-button:active{
  background-color: lightgray;
}

.glasses-collection-outer-container{
  background-color: white;
}



.link-to-glassesid, .link-to-home {
  /* text-decoration: none; */
  color: inherit;
  text-decoration: inherit;
}

/* GlassesCard comp */
.glasses-name {
  margin-top:25px;
  font-size:18px;
}

.glasses-brand {
  margin-top:15px;
  font-size:15px;
}

.glasses-price {
  margin-top:10px;
  margin-bottom:40px;
  font-size:15px;

}

.display-container-div {
  display:flex;
  /* flex-wrap:wrap; */
  margin-left:100px;
  padding-bottom:100px;
}

.display-image-div {
  width: 600px;
  float:left;
  box-sizing: border-box;
  padding-top: 200px
}

.display-image-main-image {
  width: 600px;
  float:left
}

.display-image-thumbnail-image {
  width: 200px;
  float:left;
  /* border:rgb(197, 181, 181) 1px solid; */
  /* border-radius:1%; */
}

.display-info-div {
  max-width:400px;
  margin-left:100px;
  margin-top: 200px;
  /* border: black 1px solid; */
}

#glasses-info-header {
  text-align:left;
  padding: 20px;
}

.detailed-data {
  /* border: black 1px solid; */
  text-align: left;
  padding: 20px;
}

.detail-list {
  /* border: black 1px solid; */
  padding: 20px;
}

.add-to-cart-button {
  text-align: left;
  padding:15px
}

.review-form {
  display:flex;
  flex-direction:column;
  /* border: black 1px solid; */
  text-align:left;
  padding: 15px
}

.username-title-input {
  font-size:12px;
  border:none;
  padding-top:5px;
  padding-bottom:5px;
  border-bottom: 1px black solid;
  margin-bottom:10px;
}

.review-input {
  font-size:12px;
  font-family:'Noto Sans JP',sans-serif,'Exo 2';
  height:100px;
  /* margin-top: 15px; */
  border:none;
  background-color: rgb(241, 241, 241);
  width:100%;
  display:block;
  padding:5px;
}

.form-submit-button {
  /* padding-left:15px; */
  border: rgb(241, 241, 241) 1px;
  width: 110px;
  height: 40px;
  font-size: 12px;
  /* text-align: center; */
  background-color:rgb(241, 241, 241);
  font-family: 'Noto Sans JP',sans-serif;
  margin-top: 15px;
  border-radius: 10px;
}

/* Review Comp */
.review-container-div{
  margin-top:15px;
  padding:20px;
  text-align:left;
  border-bottom: rgb(223, 217, 217) solid 1px;
}

.review-title, .review-username,.review {
  margin-bottom: 5px;
}

/* Cart page container */
.myShoppingCart {
 margin-bottom: 30px;
}

.cart-container-div{
padding-bottom:100px;
}

.comparison-button{
  background:cornflowerblue;
  color: white;
  font-size: 24px;
  height:90px;
  width: 150px;
  font-weight:bold;
  margin-bottom: 10px;
}

.checkout-button{
  background:lightcoral;
  color: white;
  font-size: 24px;
  height:45px;
  width: 150px;
  font-weight:bold;
}

/* Cart Item */
.cartitem-div{
display:flex;
flex-wrap:wrap;
align-items:center;
margin-bottom:30px;
}

.cart-item-image{
  top:-50px;
  position:relative;
  max-width:400px;
}

#cart-item-info > * {
  text-align: left;
  margin: 5px;
}

.cart-quantity-div{
  display:flex;
  flex-wrap:wrap;
  margin-top: 15px;
}

.cart-quantity-div button{
  margin-right: 10px;
  border-radius:10px;
}

/* CompareContainer  */
.compare-p{
  font-size: 30px;
  margin-bottom: 100px;
  margin-top: 100px;
}
.compare-page{
display:flex;
justify-content: center;
padding-bottom:200px;
}

.compare-container-div{
  display:flex;
  flex-wrap:wrap;
  max-width:1250px;
/* margin: auto 0; */
}

/* CompareItem Comp */
.img-item-compared {
  max-width:600px;
  margin-bottom:20px;
}

.img-comparison > *{
  text-align:center;
  margin:0;
  /* border:black solid 1px; */
}

/* .x-btn {
  border:green 1px solid;
  background:lightgray;
  color:white;
  font-size:100px;
  border-radius:100%;
  box-sizing: border-box; 
width:100px;
height: 100px;
display:flex;
justify-content: center;
align-items: center;
} */
.x-btn {
background: rgb(231, 231, 231);
color: white;
text-align: center;
width: 50px;
height: 50px;
border-radius: 100%;
display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 25px;
font-weight:bold;
text-decoration: none
}

/* to solve purple rectangle */
.link-to-cart {
color: inherit;
text-decoration: inherit;
}

.img-comparison-parent-div:first-child {
  border-right:rgb(200, 200, 200) solid 2px;

}

#footer{
  position: fixed;
  bottom: 0;
  background:rgb(241, 241, 241);
  width: 100%;
  text-align:left;
  padding:20px;
}