:root {
    /* Base font size */
    font-size: 10px;   
  }

  * {
    margin: 0;
    padding: 0;
  }

/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Noto+Sans:wght@400;700&family=Ubuntu+Condensed&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Noto+Sans:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap'); */

.websiteTitle {
  margin:30px;
  color:black;
  font-family: 'Ubuntu Condensed', sans-serif;
  /* font-family: 'Crimson Text', serif; */
/* font-family: 'Noto Sans', sans-serif; */
  font-size: 3.5rem;
  /* width: 800px; */
  /* text-align:center */
  text-align:left;
  /* border: red solid 3px; */
  float:left;
}

.myCartButton {
  /* float:right;
  position:absolute; */
  float:right;
  position:relative;
  right:0;
  top:30px;
}

/* was 'body' before */
  body {
    font-family: 'Noto Sans JP',sans-serif,'Exo 2';
    /* display: flex; */
   
    /* justify-content: center; */
    /* align-items: center;   */
    text-align:center;
    /* background: black; */
    background: white;
    min-height: 100vh;
  
    /* margin-top: 600px; */
  }


  .header-container{
      margin:auto;
      /* border:navy solid 5px; */
      height:100%;
      background-color: white;
  }

  /* clearing */
  .header-container:after {
    content:'';
    display:block; /* or whatever else than inline */
    clear:both; /*clear float*/
   }


  #home-button-container {
    display:flex;
    justify-content: center;
    align-items: center;  
    text-align:center;

    /* border: red 1px solid; */
    height:100%;
  }
  .main-home-background-div{
    display: flex;
    /* background-image: url("./images/HomeImage.jpg"); */
    justify-content: center;
    align-items: center;
    height:1000px;
    min-height: 1000px; 
  }

  .main-home-background-div::before{
    content: "";
    /* background-image: url("./images/HomeImage.jpg"); */
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
height:100vh;
width:100vw;
    /* position: absolute; */
    opacity: 40%;
    /* top:0px;
    right:0px;
    bottom: 0px;
    left:50%; */
    max-height: 1000px;
    box-sizing: border-box;

    /* border:5px solid red; */
    /* transform: translate(0%, 17%); */

  }

  .home-image-container{
    display:flex;

    flex-wrap: wrap;
    height:max-content;
  }

.home-text{
     /* background-image: url("./images/HomeImage0.jpeg");
     background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; */
    /* box-sizing: border-box; */
    /* border:5px solid blue; */
    height:60vh;
width:30vw;
display:flex;
align-items: center;
justify-content: center;
background-color: rgb(245, 241, 238);
color:rgb(102, 101, 100)
}

.home-img > img{
  height:60vh;
    width:40vw;
    /* border:5px solid blue; */
}
  .clear-lenses { 
   display: flex;
   justify-content: center;
   align-items: center;
   height:1000px;
   min-height: 1000px;
   /* border: 10px dotted yellow; */
  }

  .tinted-lenses {
   display: flex;
   justify-content: center;
   align-items: center;
   height:1000px;
   min-height: 1000px;
   /* border: 10px dotted yellow; */
  }

.tinted-lenses::before {
    /* margin-top:100px; */
    content: "";
    /* background-image: url("./images/SunglassesImg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover; 

    position: absolute;
    opacity: 40%;
    top:0px;
    right:0px;
    bottom: 0px;
    left:50%;
    max-height: 1000px;

    /* border:5px solid red; */
    transform: translate(0%, 17%);
}

.clear-lenses::before {
    /* margin-top:100px; */
  content: "";
  /* background-image: url("./images/EyeglassesImgFlipped.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 40%;
  top:0px;
  right:50%;
  bottom: 0px;
  left:0px;
  max-height: 1000px;
  /* border:5px solid blue; */
  transform: translate(0%, 17%);
}


.clear-lenses button {
    position: absolute;
    top: 50%;
    margin-right: 50%;
   transform: translate(0, 50%);
   /* -ms-transform: translate(-50%, 0%); */
    opacity:50%;
    border: none;
    color:white;
    text-decoration:none;
    background-color: transparent;
    font-size:100px;
    font-weight: bolder;
    /* display: inline-block; */
  } 
  .clear-lenses:hover button {   
    opacity: 1;
  }

  .tinted-lenses button {
    position: absolute;
    top: 50%;
    margin-left: 50%;
    transform: translate(0,50%);
     /*-ms-transform: translate(-50%, 0%); */
    opacity:50%;
    border: none;
    color:white;
    text-decoration:none;
    background-color: transparent;
    font-size:100px;
    font-weight: bolder;
    /* display: inline-block; */
  } 
  .tinted-lenses:hover button {   
    opacity: 1;
  }


  /* .button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  } */


.tinted-lenses:hover::before{
  opacity: 100%;
  font:white;
  font-size: 10rem;
  font-weight: 200;
}

.clear-lenses:hover::before{
  opacity: 100%;
  font:white;
  font-size: 10rem;
  font-weight: 200;
} */


  img {
max-width: 500px;
max-height: 500px;
  }

  /* .clear-lenses-text {
    display:none;
  }
.clear-lenses:hover .clear-lenses-text {
  color:#000;
  display:inline;
  font-size: 500px;
} */




/* glasses-collection-container */
.glasses-collection-container {
    background-color: white;
    display:flex;
}

/* glasses-card component*/
.glasses-card-container {
    height:100%;
display:flex;
flex-wrap:wrap;
justify-content: center; 
align-items: center;  
margin: 0 auto;
}

.card-image {
/* max-height: 400px; */
max-width: 400px;
}

.glasses-card {
  max-width: 500px;
  border:whitesmoke solid 2px;
}



.filters-category {
  display: flex;
  flex-direction:column;
  /* border: black solid 1px; */
  align-items:baseline;
  align-self:baseline;
  width:150px;
  padding: 20px;
  font-size: 13px;
  border: rgb(190, 199, 207) 1px solid;
  box-sizing: border-box;
}


.div-navbuttons{
  margin-left:0;
padding:0;
text-align:left;
}

.sort-Buttons {
  width:150px;
  margin-top:2px;
  /* margin-bottom:2px; */
}

/* .sort-Buttons { */
  button {
  /* padding-left:15px; */
  border: rgb(241, 241, 241) 1px;
  /* background: transparent; */
  width: 110px;
  height: 40px;
  font-size: 12px;
  /* text-align: center; */
  background-color:rgb(241, 241, 241);
  font-family: 'Noto Sans JP',sans-serif;
}
.glasses-collection-outer-container{
  background-color: white;
}

.collection-top-image-div{
  background-image:  url("./images/top-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  height:480px;
  margin-bottom:50px;
}


/* GlassesCard comp */
.link-to-glassesid {
  /* text-decoration: none; */
  color: inherit;
  text-decoration: inherit;
}
/* or style={{ textDecoration: 'none' }} */

.glasses-name {
  margin-top:25px;
  font-size:18px;
}

.glasses-brand {
  margin-top:15px;
  font-size:15px;
}

.glasses-price {
  margin-top:10px;
  margin-bottom:40px;
  font-size:15px;

}

.display-container-div {
  display:flex;
  flex-wrap:wrap;
}

.display-image-div {
  width: 600px;
  /* border: black 1px solid; */
  /* display:flex;
  flex-wrap:wrap;
  flex-direction:row; */
  float:left;
}

.display-image-main-image {
  width: 600px;
  float:left
}

.display-image-thumbnail-image {
  width: 200px;
  float:left
}

.display-info-div {
  width:400px;
  margin-top: 200px;
  border: black 1px solid;
}

.glasses-info-header {
  text-align:left;
  padding: 20px;
}

.detailed-data {
  /* border: black 1px solid; */
  text-align: left;
  padding: 20px;
}

.detail-list {
  /* border: black 1px solid; */
  padding: 20px;
}

.add-to-cart-button {
  text-align: left;
  padding:15px
}

.review-form {
  display:flex;
  flex-direction:column;
  /* border: black 1px solid; */
  text-align:left;
  padding: 15px
}

.username-title-input {
  border:none;
  padding-top:5px;
  padding-bottom:5px;
  border-bottom: 1px black solid
}

.review-input {
  height:100px;
  margin-top: 15px;
  border:none;
  background-color: rgb(241, 241, 241);
}

.form-submit-button {
  /* padding-left:15px; */
  border: rgb(241, 241, 241) 1px;
  /* background: transparent; */
  width: 110px;
  height: 40px;
  font-size: 12px;
  /* text-align: center; */
  background-color:rgb(241, 241, 241);
  font-family: 'Noto Sans JP',sans-serif;
  margin-top: 15px;
}
